@import url('https://fonts.googleapis.com/css?family=Lacquer|Open+Sans|Rock+Salt&display=swap');

/* ******    ******* */
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;
	color: #333333;
	line-height: 1.2em;
}

h1 {
	font-family: 'Rock Salt', cursive;
	letter-spacing: 0.1em;
	color: black;
	text-align: right;
}
.teamtitle {text-align: left;}

h2 {
	font-family: 'Rock Salt', cursive;
	letter-spacing: 0.1em;
	color: black;
	text-align: left;
}

a {
	display: block;
	padding: 0 10px;
	color: black;
}
a:hover {
	color: blue;
}
a:hover img {
	opacity: 0.7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	text-indent: -20px;
	margin-left: 50px;
}

.header {
	display: flex;
	align-items: center;
	width: 100%
}
.header img {
	margin: 10px 10px 0px 0px;
	float: none;
}

.container1 {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;

	display: grid;
	align-items: center;
}

.area {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 0px;
}

div.area {
	text-align: center;
	padding: 20px 20px;
}

div.vanessa, div.alyssa, div.kat {
	width: 80%;
	height: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
	margin-bottom: 30px;
}

/**** BASE - NAV ****/
nav ul {
	text-indent: 0;
	margin-right: -20px;
	display: flex;
	justify-content: flex-end;
}

nav li {
	font-family: 'Lacquer', sans-serif;
	font-size: x-large;
	background-color: white;
	padding: 10px 5px 10px 5px;
	margin-right: 20px;
}

@media ( max-width: 375px ) {
	nav ul {
		display: block;
	}
	nav li { margin-left: 0; }
}
.homenav {
	text-align: center;
}
.homenav ul {
	margin-left: 35px;
	margin-top: 3px;
	border: 1px;
	display: block;
}
.homenav li {
	font-family: 'Lacquer', sans-serif;
	font-size: 22px;
	background-color: white;
	border: 1px solid;
	box-shadow: 3px 3px grey;
	padding: 8px 8px 8px 8px;
}
.homenav li {
	margin-left: -60px;
	margin-bottom: 10px;
}


/**** BASE - ASIDE ****/
aside {
	margin-left: -30px;
	margin-top: 10px;
	margin-bottom: -30px;
	align-self: end;
}

aside ul {
	font-size: 20px;
}


/**** LAYOUT ****/
.container {
	margin: 25px auto;
	width: 90%;
	max-width: 960px;
	display: grid;
}

@media ( max-width: 375px) {
	.container {display: block;}

}
footer {
	font-family: 'Lacquer', sans-serif;
	font-size: 20px;
	grid-column: 1 / 2;
}

/**** STATE ****/
.is-current {
	background-color: black;
	color: white;
}
