@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Oranienbaum&display=swap');

/* ******    ******* */
body {
	font-family: 'Oranienbaum', serif;
	font-size: large;
	color: #333333;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: 0.15em;
	color: black;
}

.header {
	margin-bottom: 20px; 
}
.header img {
	margin: 0px;
}

.container1 {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	display: flex;
	align-items: center;
}

.vanessa, .kat {
	float: left;
	width: 31%;
	height: 200px;
}

.alyssa {
	float: left;
	width: 32%;
	height: 200px;
}