.container {
	width: 65%;
	margin: 20px auto;
}
.top {
	float: left;
	width: 98%;
	height: 100px;
	outline: 1px solid white;
}

.vanessa, .kat {
	float: left;
	width: 31%;
	height: 200px;
	outline: 2px solid black;
}

.alyssa {
	float: left;
	width: 32%;
	height: 200px;
	outline: 2px solid white;
}